<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit forums</title>
</head>
<body>
  <h1>수정하기</h1>
  <form action="/forums/<%=forums._id%>?_method=PUT" method="POST">
    <!-- ?_method=PUT 쿼리스트링은 method override를 사용하여 post요청이지만 html은 put요청으로 받아들이게 하기 위함임. ?_''이 부분은 app.js에서 app.use methodOverride에 사용한 문자열과 맞춰줘야 함 이렇게하면 app.put,patch,delete 등등에 접근할 수가 있다 -->
    <div>
      <label for="title">제목</label>
      <input type="text" id="title" name="forum[title]" value="<%=forums.title%>">
      <!-- name으로 구분해주는 건 컨텐츠를 그룹화할 수 있는 좋은 방법이다 -->
    </div>
    <div>
      <label for="author">작성자</label>
      <input type="text" id="author" name="forum[author]"value="<%=forums.author%>">
    </div>
    <div>
      <label for="contents">내용</label>
      <textarea name="forum[contents]" id="contents" cols="30" rows="10"><%=forums.contents%></textarea>
    </div>
    <button>작성</button>
  </form>
  <a href="/forums/<%=forums._id%>">돌아가기</a>
  <a href="/forums">처음 화면으로</a>
</body>
</html>