<% layout('layouts/boilerPlate') %> 


  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="card-title"><%= forums.title %></h1>
      <h5 class="text-muted t-center">작성자 : <%= forums.author.username%></h5>
      <div class="card mb-4">
        <% if (forums.imgs) { %>
          <% for(let img of forums.imgs) {%> 
          <img src="<%=img.url%>" class="card-img-top" alt="...">
          <% } %> 
        <%}%>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= forums.contents %></li>
          <li class="list-group-item"><%=forums.date%></li>
        </ul>
        <% if(currentUser && forums.author.equals(currentUser._id)) {%> 
          <!-- 현재 유저와 작성자를 비교하여 같을 때만 렌더링 되게 -->
        <div class="card-body">
          <a href="/forums/<%=forums._id%>/edit" class="card-link btn btn-warning">수정</a>
          <form class="d-inline" action="/forums/<%=forums._id%>?_method=DELETE" method="post">
            <button class="btn btn-danger">삭제</button>
          </form>
        </div>
        <% } %> 
        <footer class="card-footer">
          <a href="/forums">글 목록으로</a>
        </footer>
      </div>
    </div>
</div>

<div class="row mb-5">
  <div class="col-8 offset-2 bg-light py-4 px-4">
    <h4 class="card-title">comments</h2>
    <div class="mt-4 mb-4">
    <% for(let comment of forums.comments) {%>
        <div class="mb-1 d-flex justify-content-around">
          <p class="col-8 my-2"><%=comment.author.username%> : <%=comment.body%></p> 
          <form class="align-self-center" action="/forums/<%=forums._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
            <% if(currentUser && comment.author.equals(currentUser._id)) {%> 
            <button class="btn btn-sm btn-danger py-1 px-1">삭제</button>
            <% } %> 
          </form>
        </div>
      <% } %> 
    </div> 
    <% if(currentUser) {%> 
    <form class="validated-form" action="/forums/<%=forums._id%>/comments" method="POST" novalidate>
      <div class="mb-3">
        <label class="form-label" for="body">댓글 작성하기</label>
        <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="2" required></textarea>
      </div>
      <button class="btn btn-success">쓰기</button>
    </form>
    <% } %> 
  </div>
</div>

