<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= forums.title %></h1>
  <h4><%= forums.author %></h4>
  <h4><%= forums.contents %></h4>

  <footer>
    <a href="/forums/<%=forums._id%>/edit">수정</a>
    <a href="/forums">처음 화면으로</a>
  </footer>
  <form action="/forums/<%=forums._id%>?_method=DELETE" method="post">
    <button>삭제</button>
  </form>
</body>
</html>